.productList {
    list-style: none;
}

.createProductForm {
    display: flex;
    flex-direction: column;
}



.createProductForm textarea::-webkit-scrollbar {
    width: 8px;
}

.createProductForm textarea::-webkit-scrollbar-track {
    background: rgb(236, 239, 240);
}

.createProductForm textarea::-webkit-scrollbar-thumb {
    background-color: rgb(153, 153, 153);
    border-radius: 20px;
}

.createProductFormBtnContainer {
    display: flex;
    justify-content: end;
    margin-top: 1rem;
}

.createProductFormBtnContainer button {
    margin-left: 5px;
}

.productImg {
    width: 3.5rem;
    height: 3.5rem;
}