.productList {
    display: flex;
    position: relative;
    padding-top: 10vh;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    /* align-items: center; */
    max-width: 1100px;
    height: 100%;
}

.productsContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 87vh;
    width: 100%;
    overflow: auto;

}

.productsContainer::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.productsContainer::-webkit-scrollbar-track {
    background: rgb(236, 239, 240);
}

.productsContainer::-webkit-scrollbar-thumb {
    background-color: rgb(153, 153, 153);
    border-radius: 20px;
}

.productImg {
    width: 7rem;
    height: 7rem;
    margin: 0;
}

.modalImg {
    width: 25rem;

    margin: 0;
}