.productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    align-items: center;
    width: 85%;
}

.productsContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;

}

.productImg {
    width: 7rem;
    height: 7rem;
    margin: 0;
}

.modalImg{
    width: 25rem;
    
    margin: 0;
}